<div class="container">
<h4>Editar OC</h4>

<%= render 'form', purchase: @purchase %>

<%= link_to 'Ver', @purchase, :class => 'btn btn-primary btn-sm'  %> |
<%= link_to 'Volver', purchases_path, :class => 'btn btn-primary btn-sm'  %>