<!DOCTYPE html>
<div class="container">
  <h4>Orden de Compra Nº 1234 </h4>

<%= render partial: 'purchases/headerOC' %>
<BR></BR>
<%= render partial: 'purchases/bodyOC' %>
<p>
</p>

<!-- Codigo Importado, se debe revisar -->

</div>