<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su password. Puede hacerlo mediante el siguiente link.</p>

<p><%= link_to 'Cambiar mi Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Su Contraseña no cambiará hasta que acceda al enlace siguiente y cree una nueva.</p>
